* {
    font-family: "Raleway", sans-serif;
}

#board, boardInfo{
    max-width: 500px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#star, .boardInfo{
    font-size: 25px;
}

#gameOver{
    display: none;
    color: red;
}

.boardInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start{
    background-color: #1d97e3;
    border: none;
    color: white;
}

#scoreBoard {
    display: inline-flex;
}

.square{
    aspect-ratio: 1;
}

.emptySquare {
    background-color: #456990;
}

.snakeSquare {
    background-color: #ccf47f;
}

.foodSquare{
    background-color: #f35a69;
}